body {
    font-family: Arial, sans-serif;
}



.navbar {
    width: 100%;
    background-color: #333;
    padding: 15px 10px;
    margin-bottom: 20px;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

.nav-item a:hover {
    background-color: #555;
    transition: background-color 0.3s;
}

main {
    padding: 20px;
    text-align: center;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

h1{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

   




.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    
}

.image {
    border: 1px solid #ddd;
    padding: 5px;
    background-color: #fff;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px 0;
    margin-top: 20px;
    width: 100%;
}

.footer p {
    margin: 5px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.social-links a {
    color: white;
    text-decoration: none;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.course{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

img{
    border-radius: 8px;
}